<h1 id='user-index'>ユーザー一覧</h1>
<table class='user-index-table td-padding'>
  <tr>
    <th></th>
    <th>名前</th>
    <th>ユーザーネーム</th>
    <th>最新のアピール</th>
    <th></th>
  </tr>
  <% @all_end_users.each do |end_user| %>
  <tr>
    <td><%= attachment_image_tag end_user, :profile_image, size: '70x70', fallback: 'no-image.png' %></td>
    <td>
      <%= link_to end_user.name, end_user_path(end_user.id) %>
    </td>
    <td><%= end_user.username %></td>
    <!-- if文必要かも -->
    <% latest_appeal = end_user.appeals.order(date_and_time: 'DESC').limit(1) %>
    <td>
      <% if latest_appeal[0] %>
        <%= latest_appeal[0].date_and_time.strftime("%Y-%m-%d %H:%M") %>
      <% end %>
    </td>
    <td id='follow-button-user-id-<%= end_user.id %>'>
      <%= render partial: 'end_users/relationships/follow_button', locals: { end_user: end_user } %>
    </td>
  </tr>
  <% end %>
</table>
